

<h4>Burası Home - NotFoundAction sayfasıdır. Gerçersiz bir adres yazdınız.</h4>


<h2> Anasasayfaya gitmek için tıklayınız =>   <a   asp-action="Index" asp-controller="Home" >ANASYAFA</a>       </h2>