@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center  yeşil" >
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- deneme isimli section açtık içine bir li-nav item koyduk ana sayfada home butonu yer alıyor daha onsra bunu _Layout içine li-nav bar içine aşağıda kodu yazma yerine   RenderSection("Deneme",required:false) yazdık geçtik -->
@section Deneme   
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
    </li>

}


@section Stil
{
  <style>
      .yeşil{color:green;background-color:pink;}

  </style>
}


@await Component.InvokeAsync("MovieWithDirectorTop")