@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@section Deneme
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="MakeFilm"> deneme section1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="List">deneme section2</a>
    </li>

}

@section Scripts 
{
    <script>
        console.log("Merhaba dünyalı tam olarak anlamadın galiba, kacırıldın xd")

    </script>

}